<style>
    .cont1{
        margin-top:0.1rem;
        width:100%;
        text-align: center;
    }
    .cont1 ul li{
        margin-top:0.1rem;
        width:100%;
        height:3.8rem;
        background-color: #fff;
    }
     .cont1 img{
        width:70%;
        margin-top:0.2rem;
    }
     .cont1 p{
        margin-top:0.1rem;
        font-size:0.24rem;
    }
</style>


<!--信用卡-->
<div style="display: block" class="cont1" ng-repeat="xyk in my_card">
    <img ng-src="http://{{xyk.card_logo}}" alt="">
    <p>{{xyk.card_name}} | 开通时间：{{xyk.confirm_time}}</p>
</div>

