





<div ng-controller="loanLoginController">
    <!--贷款名称-->
    <div class="loan-name" >
        <div class="name-left">
            <img ng-src="http://{{loanLogin.product_logo}}" alt="">
        </div>
        <div class="name-right">
            <p ng-bind="loanLogin.name">宜人贷</p>
            <p ng-bind="loanLogin.product_details" class="pp"></p>
        </div>
    </div>
    <div class="loan-num">
        <ul>
            <li>
                <p ng-bind="loanLogin.apply_number == null?0:loanLogin.apply_number"></p>
                <p>申请人数</p>
            </li>
            <li>
                <p ng-bind="loanLogin.play_type == null?'&nbsp':loanLogin.play_type"></p>
                <p>还款方式</p>
            </li>
            <li>

                <p ng-bind="loanLogin.loan_range == null?0:loanLogin.loan_range"></p>
                <p>申请金额</p>
            </li>
            <li>
                <p ng-bind="loanLogin.loan_term == null?0:loanLogin.loan_term"></p>
                <p>贷款期限</p>
            </li>
        </ul>
    </div>

    <!--申请流程-->
    <div class="loan-flow">
        <p class="op">申请流程</p>
        <ul>
            <li ng-repeat="flow in flows">
                <img ng-src="http://{{flow.flow_img}}">
                <p ng-bind="flow.flow_name"></p>
            </li>

        </ul>
    </div>

    <!--申请条件-->
    <div class="loan-condition">
        <p>申请条件</p>
        <p ng-repeat="condition in product_comment" ng-bind="condition"></p>

    </div>

    <!--所需材料-->
    <div class="loan-material">
        <p>所需材料</p>
        <p ng-bind="loanLogin.product_datum"></p>
    </div>


    <div class="loan-apply" ng-click="cardUrl(loanLogin.id)">立即申请</div>

    <!--弹出框-->
    <login></login>

</div>

