<style>
    .header-img{
        width:100%;
    }
    .header-img img{
        width:100%;
    }
    /*我的贷款*/
    .wddk{
        width:100%;
        height:0.7rem;
        background-color: #fff;
        line-height:0.7rem;
        font-size:0.28rem;
    }
    .wddk .left{
        float: left;

    }
    .wddk .left span{
        margin-left:0.5rem;
        display: inline-block;
        width:0.4rem;
        position: relative;
        top:0.05rem;
        right: 0.2rem;
    }
    .wddk .left span img{
        width:100%;
    }
    .wddk .right{
        float: right;
        font-size:0.4rem;
        margin-right:0.2rem;
    }

    .tab{
        margin-top:0.15rem;
    }
    .tab ul {
        overflow: hidden;
    }
    .tab ul li{
        width:50%;
        background-color: #ffffff;
        float: left;
        height:0.8rem;

    }
    .tab ul li:nth-of-type(1){
        border-right: 1px solid #e4e4e4;
    }
    .tab ul li span{
        float: left;
        margin-left:0.5rem;
        display: inline-block;
        width:0.7rem;
        position: relative;
        top:0.1rem;
        right: 0.2rem;
    }
    .tab ul li p{
        float: left;
        line-height:0.8rem;
        font-size:0.28rem;

    }


    .tab ul li span img{
        width:100%;
    }


    /*内容*/

    .cont1 ul li{
        width:100%;
        background-color: #fff;
        height:1.9rem;
        margin-top:0.02rem;
    }

    .cont1 ul li .left{
        float: left;
        width:30%;
        height:1.84rem;

    }
     .cont1 ul li .left img{
        width:60%;
        margin-top:0.6rem;
        margin-left:0.3rem;
    }
     .cont1 ul li .right{
        float: left;
        width:70%;
    }
     .cont1 ul li .right p:nth-of-type(1){
        font-size:0.28rem;
        font-weight:bold;
        margin-top:0.2rem;
    }
     .cont1 ul li .right p:nth-of-type(2){
        font-size:0.26rem;
        padding-right:0.2rem;
         line-height:0.4rem;
        margin-top:0.1rem;
    }
    .curr{
        border-bottom: 2px solid #4f7dfd;
    }
</style>

<!--顶部-->

<div class="header-img">
    <img src="__ASSETS__user/images/banner2.png" alt="">
</div>
<!--我的贷款-->

<a href="" ui-sref="myLoan.money">
    <div class="wddk">
        <div class="left">
                <span class="span1"><img src="__ASSETS__user/images/wddk.png" alt=""></span>我的贷款
        </div>
        <div class="right">
            <span class="span2"><img src="__ASSETS__user/images/go.png" alt=""></span>
        </div>
    </div>
</a>

<!--切换-->
<div class="tab">
    <ul class="tab1">
        <li class="curr">
            <a href="" ui-sref="loan.speed">
                <span><img src="__ASSETS__user/images/jsdz_icon.png" alt=""></span>
                <p>极速到账</p>
            </a>

        </li>
        <li>
            <a href="" ui-sref="loan.lowMoney">
                <span> <img src="__ASSETS__user/images/dxdk_icon.png" alt=""></span>
                <p>低息贷款</p>
            </a>
        </li>

    </ul>
</div>
<div ui-view></div>
<script src="__ASSETS__user/js/tab.js"></script>