

<div class="cont1" ng-controller="loanController">
    <ul>
        <li ng-repeat="dx in dix">
            <a href="" ui-sref="loanLogin({loanid:dx.id})">
                <div class="left">
                    <img ng-src="http://{{dx.logo}}" alt="">
                </div>
                <div class="right">
                    <p ng-bind="dx.name"></p>
                    <p ng-bind="dx.comment"></p>
                </div>
            </a>

        </li>
    </ul>
    <div style="width: 100%;height: 5rem;" ></div>
</div>