<div class="tabCon_1" ng-controller="platinumController" ng-repeat="cards in card_list" >

        <div class="content" ng-click="cardUrl(cards.id)">
            <div class="content-p">
                <div class="top">
                    <p ng-bind="cards.card_name">光大龙腾白金卡</p>
                </div>
                <div class="bottom">
                    <div class="left">
                        <p ng-bind="cards.card_details"></p>
                    </div>
                    <div class="right">
                        <p ng-bind="cards.count"></p>
                        <p>申请人数</p>
                    </div>

                </div>
            </div>

            <div class="content-img">
                <img ng-src="http://{{cards.card_logo}}" alt="">
            </div>
        </div>

    <!--弹出框-->
    <login></login>
</div>



