
<div class="cont2 marginTop10" >
        <form  name="addform" id="mesg" class="formtype1"  ng-submit="submit()">
            <div class="ipt">
                <div class="row">
                    <span class="laber">姓名:</span>
                    <input type="text" name="user" ng-model="dl.name" placeholder="请输入姓名">
                </div>

                <div class="row">
                    <span class="laber">手机号:</span>
                    <input type="text" name="phone"  ng-model="dl.phone" placeholder="请输入手机号">
                </div>
                <div class="row">
                    <span class="laber">密码:</span>
                    <input type="password" name="password" ng-model="dl.password" placeholder="请输入密码">
                </div>
                <div class="row">
                    <span class="laber">确认密码:</span>
                    <input type="password" name="repassword" ng-model="dl.repassword" placeholder="请重复密码">
                </div>
                <div class="tip text-center error  paddingtop15">{{tip}}</div>

<!--                 <div class="row">
                    <span class="laber">手机:</span>
                    <input type="text" ng-model="dl_name"  placeholder="123456">
                </div> -->
<!--                 <div class="row radio-input">
                    <span class="laber">开启后台:</span>
                    <input type="radio" name="open" id="yes" checked />
                    <label for="yes">是</label>
                    <input type="radio" name="open" id="no"/>
                    <label for="no">否</label>
                </div> -->
                <div class="text-center contro">
                    <button class="btn" type="submit"  >保存</button>
                    <a class="btn" ui-sref="subIndex">返回</a>
                </div>

            </div>
        </form>
</div>