<!-- <link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/jquery.pagination.css" /> -->
<div id="header" class="text-center">
   <a class="back" ui-sref="subIndex">×</a>
   代理
</div>
<div class="header-three-nav">
    <a  ui-sref="daili.myAgent" ng-click="tap('myAgent')" ng-class="{active:navName=='myAgent'}">我的代理</a>
    <a  ui-sref="daili.agentAdd" ng-click="tap('agentAdd')" ng-class="{active:navName=='agentAdd'}">新增代理</a>
    <a  ui-sref="daili.quotedPrice({nav:'xy'})" ng-click="tap('quotedPrice')" ng-class="{active:navName=='quotedPrice'}">报价单</a>
</div>
<div style="height:1.66rem;"></div>

<div ui-view></div>

<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>
<script type="text/javascript" src="__ASSETS__/agent/js/clipboard.min.js"></script>

