<div class="footer-gao"></div>
<div id="footer">
    <a ui-sref="subIndex" footertap>
        <img src="__ASSETS__/agent/img/footer1.png"  />
        首页
    </a>
    <a ui-sref="myuser.yonghu"  footertap>
        <img src="__ASSETS__/agent/img/footer2.png"  />
        用户
    </a>
    <a ui-sref="daili.myAgent"  footertap>
        <img src="__ASSETS__/agent/img/footer3.png"  />
        代理
    </a>
    <a ui-sref="personal" footertap>
        <img src="__ASSETS__/agent/img/footer4.png"  />
        我的
    </a>
</div> 