<div>
    <div class="my-user-time-select bg-date" riqi>
        日期
        <img src="__ASSETS__/agent/img/bottom.png" class="jt">
    </div>
    <div class="dateBox">
        <div class="clearfix date-row">
            <div id="stime" stime class="start-time"></div>
            <div id="etime" etime class="start-time"></div>
        </div>
        <div ng-click="search()" class="search-btn">查询</div>
    </div>

    <div class="my-user-list-box">
        <p ng-hide="tip.isHide" class="text-center padding10">{{tip.text}}</p>
        <ul>
            <li ng-repeat="key in recordList">
                <img src="__ASSETS__/{{key.headimg}}" class="user-img"/>
                <div class="center-info">
                    <p class="font28" ng-bind="key.user_name == null?'暂时没填写':key.user_name"></p>
                    <p class="font20 color-hui">归属代理：{{key.agenter}}</p>
                </div>
                <div class="right-info">
                    <p>{{key.product_name}}<span class="color-blue">{{key.loan_price | currency:"￥"}}</span></p>
                    <p class="font20 color-hui" ng-bind="key.apply_time"></p>
                </div>
            </li>
        </ul>
    </div>
    <div paginations conf="pageset"></div>
</div>