<div id="header" class="text-center">
   <a class="back" ui-sref="daili.myAgent({page:page})">×</a>
   修改
</div>

<div class="header-gao"></div>
<style type="text/css">
    #footer{
        display:none;
    }
</style>

<div class="cont2">
        <form action="" name="form1" id="mesg" class="formtype1">
            <div class="ipt">
                <div class="row">
                    <span class="laber">姓名:</span>
                    <input type="text" ng-model="dl.name" placeholder="请输入姓名">
                </div>
                <div class="row">
                    <span class="laber">手机:</span>
                    <input type="text" ng-model="dl.phone" placeholder="请输入手机号">
                </div>
                <div class="row">
                    <span class="laber">密码:</span>
                    <input type="password" ng-model="dl.password" placeholder="请输入密码">
                </div>
                <div class="row">
                    <span class="laber">确认密码:</span>
                    <input type="password" ng-model="dl.repassword" placeholder="请重复密码">
                </div>

                <div class="tip text-center error  paddingtop15">{{tip}}</div>
                
<!--                 <div class="row">
                    <span class="laber">手机:</span>
                    <input type="text" name="name" placeholder="123456">
                </div>
                <div class="row radio-input">
                    <span class="laber">开启后台:</span>
                    <input type="radio" name="open" id="yes" checked />
                    <label for="yes">是</label>
                    <input type="radio" name="open" id="no"/>
                    <label for="no">否</label>
                </div> -->
                <div class="text-center contro">
                    <span class="btn" ng-click="submit()">保存</span>
                    <a class="btn" ui-sref="daili.myAgent({page:page})">返回</a>
                </div>

            </div>
        </form>
</div>