<div id="header" class="text-center">
   <a class="back" ui-sref="subIndex">×</a>
   我的
</div>
<div class="header-gao"></div>
<div class="header" style="padding-bottom:1.11rem;">
    <div class="top clearfix">
        <div class="left">
            <div class="header-img">
                <img src="__ASSETS__/agent/img/tx.png" alt="">
            </div>
            <div class="header-p">
                <p ng-bind="username"></p>
                <p>{{userInfo.lev}}代理</p>
            </div>
        </div>
        <div class="right">
            <img src="__ASSETS__/agent/img/erwm.png" ui-sref="sharePage">
        </div>
    </div>
</div>

<div class="my-row">
    <ul>
        <li>
            <span><img src="__ASSETS__/agent/img/my1.png" alt=""></span><p class="op">姓名：</p><input ng-model="userInfo.name" placeholder="请输入姓名">
        </li>
        <li>
            <span><img src="__ASSETS__/agent/img/my2.png" alt=""></span><p class="op">邮箱：</p><input ng-model="userInfo.email" placeholder="请输入邮箱">
        </li>
<!--         <li>
            <span><img src="__ASSETS__/agent/img/my3.png" alt=""></span><p class="op">电话：</p><input ng-model="userInfo.phone" placeholder="请输入电话号码">
        </li> -->
        <li>
            <span><img src="__ASSETS__/agent/img/sj.png" alt=""></span><p class="op">手机：</p><input ng-model="userInfo.phone" placeholder="请输入手机号码">
        </li>
        <li>
            <span><img src="__ASSETS__/agent/img/my5.png" alt=""></span><p class="op" >备注：</p><input ng-model="userInfo.remark" placeholder="请输入备注信息">
        </li>
    </ul>
    <div class="times">
        <p>上次登录IP：{{userInfo.last_login_ip}}</p>
        <p>登录时间{{userInfo.last_login_time}}</p>
    </div>
</div>
<div>{{tip}}</div>

<div class="personal-sub" ng-click="personalSub()">保存</div>


<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>