<div id="header" class="text-center">
   <a class="back" ui-sref="daili.quotedPrice({nav:'dk'})">×</a>
   贷款特定用户编辑
</div>
<div class="header-gao"></div>

<div class="teding-box">
    <div class="row" xinyongka>
        <span class="laber">
            贷款:
        </span>
        <span ng-bind="activeBank.name"></span>
        <span class="right-icon pull-right"></span>
    </div>
    <div class="row" user>
        <span class="laber">
            用户:
        </span>
        <span ng-bind="activeUser"></span>
        <span class="right-icon pull-right"></span>
    </div>
    <div class="row" ng-hide="{{userlev < 1?false:true}}">
        <span class="laber">
            特级价格:
        </span>
        <input type="text" name=""  ng-model="lev0_p" placeholder="" ng-disabled="true" >
    </div>    
    <div class="row" ng-hide="{{userlev < 2?false:true}}">
        <span class="laber">
            一级价格:
        </span>
        <input type="text" name="" ng-model="lev1_p" placeholder="" ng-disabled="{{userlev < 1?'false':'true'}}">
    </div>
    <div class="row" ng-hide="{{userlev < 3?false:true}}">
        <span class="laber">
            二级价格:
        </span>
        <input type="text" name="" ng-model="lev2_p" placeholder="" ng-disabled="{{userlev < 2?'false':'true'}}">
    </div>
    <div class="row">
        <span class="laber">
            三级价格:
        </span>
        <input type="text" name="" ng-model="lev3_p" placeholder="" ng-disabled="{{userlev < 3?'false':'true'}}">
    </div>
</div>
<div ng-bind="tip" class="tip-text"></div>
<div class="teding-contro">
    <a ng-click="formSubmit()">保存</a>
    <a ui-sref="daili.quotedPrice({nav:'dk'})">返回</a>
</div>

<div class="cen"></div>



<div class="teding_fixed_box box-show xinyong">
    <p class="title">贷款</p>
    <div>
        <input type="text" /><button><i class="search"></i>搜索</button>
    </div>
    <div  class="select-box clearfix">
        <div class="nei clearfix">

            <div class="swiper-container">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" ng-repeat="key in banklist" >
                        <div class="bank-list clearfix">
                            <span ng-repeat="childe in key" class="{{activeBankId == childe.id?'active':''}}" ng-click="bankSelect(childe.id,$index,$parent.$index)">{{childe.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="contro-direction">
            <span class="button-prev"></span>
            <span class="button-next"></span>
        </p>
    </div>
    <div class="teding-contro">
        <span ng-click="bankSure()">确认</span>
        <span class="close-teding-box">取消</span>
    </div>
</div>

<div class="teding_fixed_box box-show yonghu">
    <p class="title">用户</p>
    <div>
        <input type="text" /><button><i class="search"></i>搜索</button>
    </div>
    <div  class="select-box clearfix">
        <div class="nei clearfix">
            <div class="swiper-name-container">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" ng-repeat="key in userlist" >
                        <div class="bank-list clearfix">
                            <span ng-repeat="childe in key" class="{{activeUserId == childe.id?'active':''}}" ng-click="userSelect(childe.id,$index,$parent.$index)">{{childe.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="contro-direction">
            <span class="name-button-prev"></span>
            <span class="name-button-next"></span>
        </p>
    </div>
    <div class="teding-contro">
        <span ng-click="userSure()">保存</span>
        <span class="close-teding-box">取消</span>
    </div>
</div>
<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>

<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/swiper-3.4.2.min.css" />
<script type="text/javascript" src="__ASSETS__/agent/js/swiper-3.4.2.jquery.min.js"></script>