<div class="myuser-user">
    <div class="sous">
        <input type="text" placeholder="搜索" ng-model="keyup"><span class="sear-btn" ng-click="search()">搜索</span>
    </div>
    <div class="my-user-list-box">
        <p ng-hide="tip.isHide" class="text-center padding10">{{tip.text}}</p>
        <ul>
            <li ng-repeat="key in userList">
                <img src="__ASSETS__/{{key.headimg}}" class="user-img"/>
                <div class="center-info">
                    <p class="font28" ng-bind="key.user_name"></p>
                    <p class="font24" ng-bind="key.phone"></p>
                    <p class="font20 color-hui">归属代理：{{key.agenter}}</p>
                </div>
                <div class="right-info">
                    <p>信用卡：{{key.card_num}}张</p>
                    <p>贷款：<span class="color-blue">{{key.total_loan | currency:"￥"}}</span></p>
                </div>
            </li>
        </ul>
    </div>
    <div paginations conf="pageset"></div>
</div>