<style type="text/css">
    body{
        background:#fff !important;
    }
</style>
<div id="header" class="text-center">
   <a class="back" href="javascript:history.back()">×</a>
   提现
</div>
<div class="header-gao"></div>
<div class="tixian-header text-center">
    <h4 ng-bind="subIndexInfo.left_money | currency:'￥'">28.02</h4>
    <p>可提现余额(元)</p>
</div>

<div class="tixian-box">
    <div class="op">
    <span><img src="__ASSETS__/agent/img/Txd.png" alt=""></span>提现到
</div>
    <div class="back-op">
        <span><img src="__ASSETS__/agent/img/yhk.png" alt=""></span><p class="gs">{{otherUser.card_name}}（{{otherUser.card_no | lastcode}}）</p>
    </div>
    <form action="" name="form1" id="mesg">
        <div>
            <p>提现金额（元）</p>
            <input type="text" name="money" placeholder="请输入提现金额" class="ipt1" ng-model="money">
            <p>短信验证</p>
            <input type="text" name="code" placeholder="请输入验证码" class="ipt2" ng-model="code">
            <input type="button"  value="获取验证码" ng-click="getyzm(otherUser.phone)">
        </div>
        <p class="yz" ng-hide="tip">(已向手机号码{{otherUser.phone | phonexin}}发送验证码,{{timeS}}后可重新获取短信。)</p>
        <p class="yz" ng-hide="tips">{{tipsText}}</p>
    </form>
    <div class="btn" ng-click="tixian()">
       确认提现
    </div>
</div>

<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>