<div>
    <div class="my-user-time-select bg-date" riqi>
        日期(最近7天)
        <img src="__ASSETS__/agent/img/bottom.png" class="jt">
    </div>
    <div class="dateBox">
        <div class="clearfix date-row">
            <div id="stime" stime class="start-time"></div>
            <div id="etime" etime class="start-time"></div>
        </div>
        <div ng-click="search()" class="search-btn">查询</div>
    </div>   
    <div class="my-user-list-box">
        <p ng-hide="tip.isHide" class="text-center padding10">{{tip.text}}</p>
        <ul>
            <li ng-repeat="key in recordList">
                <img src="__ASSETS__/agent/img/touXia1.png" class="user-img"/>
                <div class="center-info">
                    <p class="font28" ng-bind="key.user_name?key.user_name:'匿名用户' | startname"></p>
                    <p class="font26 color-hui">归属推广：{{key.agenter}}</p>
                </div>
                <div class="right-info">
                    <p ng-bind="key.loan_name ? key.loan_name:key.card_name"></p>
                    <p class="font26 color-hui" ng-bind="key.create_time"></p>
                </div>
            </li>
        </ul>
    </div>
    <div paginations conf="pageset"></div>
</div>