<div id="header" class="text-center">
   <a class="back" href="javascript:history.back()">×</a>
   推广申请
</div>
<div class="header-gao"></div>
<div>
    <img src="__ASSETS__/agent/img/Sq_banner.png" class="img-responsive">
</div>
<div class="shenqin-box">
    <form action="" name="form1" id="mesg">
        <div >
            <input type="text" ng-model="phone" name="name" placeholder="请输入手机号码" class="ipt1">
            <input type="button"  value="马上申请" ng-click="agentSubmit()">
        </div>
    </form>
</div>
<div class="shenqin-why">为什么选择未莱?</div>
<div class="shenqin-why-img">
    <ul>
        <li><img src="__ASSETS__/agent/img/wsmx1.png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx2.png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx3 .png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx4.png" alt=""></li>
    </ul>
</div>