<div>
    <div class="my-user-time-select bg-date" riqi>
        日期(最近7天)
        <img src="__ASSETS__/agent/img/bottom.png" class="jt">
    </div>
    <div class="dateBox">
        <div class="clearfix date-row">
            <div id="stime" stime class="start-time"></div>
            <div id="etime" etime class="start-time"></div>
        </div>
        <div ng-click="search()" class="search-btn">查询</div>
    </div>

    <div class="baobiao-parent">
        <div class="baobiao-title five">
            <ul>
                <li>日期</li>
                <li>用户</li>
                <li>手机号</li>
                <li>名称</li>
                <li>状态</li>
            </ul>
        </div>
        <div class="baobiao-list five">
            <ul class="oul1">
                <li ng-repeat="key in recordList">
                    <ul class="oul2">
                        <li ng-bind="key.apply_time"></li>
                        <li ng-bind="key.user_name?key.user_name:'匿名用户' | startname"></li>
                        <li ng-bind="key.phone | phonexin"></li>
                        <li ng-bind="key.loan_name"></li>
                        <li ng-bind="key.zt"></li>

                    </ul>
                </li>
            </ul>
        </div>
<!--         <ul>
            <li ng-repeat="key in recordList">
                <img src="__ASSETS__/agent/img/touXia1.png" class="user-img"/>
                <div class="center-info">
                    <p class="font28" ng-bind="key.user_name?key.user_name:'匿名用户'"></p>
                    <p class="font26 color-hui">归属代理：{{key.agenter}}</p>
                </div>
                <div class="right-info">
                    <p>{{key.product_name}}<span class="color-blue" ng-bind="'￥'+key.loan_price"></span></p>
                    <p class="font26 color-hui" ng-bind="key.apply_time"></p>
                </div>
            </li>
        </ul> -->
    </div>
    <p ng-hide="tip.isHide" class="text-center padding10">{{tip.text}}</p>
    <div paginations conf="pageset"></div>
</div>