<div class="tabCon my-agent">
    <div class="sous">
        <input type="text" placeholder="搜索" ng-model="keyup"><span class="sear-btn" ng-click="search()">搜索</span>
    </div>
    <div class="my-agent-box clearfix">
        <div class="agent-list" ng-repeat="key in dlList" ng-click="gothree(key.id,key.has_sub,key.name,key.lev)">
            <div class="bg-f"></div>
            <div class="info text-center">
                <img  src="__ASSETS__/agent/img/touXia1.png" class="tuoxian"/>
                <p>{{key.name?key.name:'匿名用户'}}</p>
            </div>
            <div class="lev font20 text-center " ng-class="{true:'true-jt'}[key.has_sub == 1]">
                <img src="__ASSETS__/agent/img/agent-jt.png" ng-if="key.has_sub == 1"/>
                <span ng-bind="key.lev == '特级'?'合伙人':key.lev+'推广员'"></span>
            </div>
        </div>
    </div>
    <div paginations conf="pageset" ></div>
<!--     <div style="display: block" class="cont1">
        <p ng-hide="tip.isHide" class="text-center padding10">{{tip.text}}</p>
        <div class="content" ng-repeat="key in dlList">
            <div class="cont-top" ng-class="{false:'no-border'}[lev == key.level]">
                <div class="top">
                    <div class="toux">
                        <div class="img">
                            <img src="__ASSETS__/agent/img/touXia1.png" alt="">
                        </div>
                    </div>
                    <div class="zliao">
                        <p>{{key.name?key.name:'匿名用户'}}/{{key.phone | phonexin}}</p>
                        <p>所属代理：{{key.agenter}}</p>
                    </div>
                    <div class="dail">
                        <p>{{key.lev}}代理</p>
                    </div>
                </div>
            </div>
            <div class="cont-bottom" ng-if="lev+1 == key.level">
                <ul>
                    <li>
                        <p ui-sref="myAgent_edit({did:key.id,page:page})">修改</p>
                    </li>
                    <li>
                        <p ng-click="del(key.id)">删除</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     -->
</div>