<div id="header" class="text-center">
   <a class="back" ui-sref="myAgentThree({page:pageThree,name:levTop.name,lev:levTop.lev,id:did,parentpage:parentpage})">×</a>
   推广员
</div>
<div class="header-gao"></div>
<div class="tabCon my-agent">

    <div class="my-agent-box clearfix">
        <div class="top-one clearfix">
            <div class="agent-list" ui-sref="daili.myAgent({page:parentpage})">
                <div class="bg-f"></div>
                <div class="info text-center">
                    <img src="__ASSETS__/agent/img/touXia1.png" class="tuoxian"/>
                    <p>{{levTop.name?levTop.name:'匿名用户'}}</p>
                </div>
                <div class="lev font20 text-center true-jt">
                    <img src="__ASSETS__/agent/img/agent-jt-zk.png"/>
                    <span ng-bind="levTop.lev == '特级'?'合伙人':levTop.lev+'推广员'"></span>
                </div>
            </div>
        </div>
        <div class="top-one clearfix">
            <div class="agent-list" ui-sref="myAgentThree({page:pageThree,name:levTop.name,lev:levTop.lev,id:did,parentpage:parentpage})">
                <div class="bg-f"></div>
                <div class="info text-center">
                    <img src="__ASSETS__/agent/img/touXia1.png" class="tuoxian"/>
                    <p>{{levTopTwo.name?levTopTwo.name:'匿名用户'}}</p>
                </div>
                <div class="lev font20 text-center true-jt">
                    <img src="__ASSETS__/agent/img/agent-jt-zk.png"/>
                    <span ng-bind="levTopTwo.lev == '特级'?'合伙人':levTopTwo.lev+'推广员'"></span>
                </div>
            </div>
        </div>
        <div class="xiaji">
            <div class="agent-list" ng-repeat="key in dlList" ng-click="gothree(key.id,key.has_sub,key.name,key.lev)">
                <div class="bg-f"></div>
                <div class="info text-center">
                    <img src="__ASSETS__/agent/img/touXia1.png" class="tuoxian"/>
                    <p>{{key.name?key.name:'匿名用户'}}</p>
                </div>
                <div class="lev font20 text-center" ng-class="{true:'true-jt'}[key.has_sub == 1]">
                    <img src="__ASSETS__/agent/img/agent-jt.png" ng-if="key.has_sub == 1"/>
                    <span ng-bind="key.lev == '特级'?'合伙人':key.lev+'推广员'"></span>
                </div>
            </div>
        </div>
    </div>
    <div paginations conf="pageset" ></div>
</div>
<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>