<div id="page">
    <div class="page-ma">
        <span ng-repeat="key in conf.pageList track by $index" ng-class="{active : conf.currentPage == key }">{{key}}</span>
    </div>

    <div class="page-con">
        <span ng-click="prev()" ng-class="{dis:conf.currentPage == 1 || conf.count == 0}" class="prev">上一页</span>
        <span ng-click="next()" ng-class="{dis:conf.currentPage == conf.count}" class="next">下一页</span>
        <span class="text">跳转至</span><select ng-model="selectedPage" ng-change="sPage(selectedPage)">
            <option value="">请选择</option>
            <option ng-repeat="x in conf.selectArr track by $index">{{x}}</option>
        </select>



    </div>
    <span ng-bind="tt"></span>
</div>


