<div id="header" class="text-center">
   <a class="back" ui-sref="subIndex">×</a>
   我的推广
</div>
<div class="header-gao"></div>
<div class="spread-nav">
    <div>
        <span ng-class="{active:tap=='xy'}" ng-click="tapFun('xy')">信用卡</span>
    </div>
    <div>
        <span ng-class="{active:tap=='xd'}" ng-click="tapFun('xd')">信贷</span>
    </div>
</div>

<div ng-class="{true:'block',false:'none'}[tap=='xy']" class="tuiguan-bank">
    <div  ng-repeat="key in bankLisk" ui-sref="spreadDetails({did:key.bank_id,types:'xy'})">
        <img src="http://{{key.logo}}"/>
        <p ng-bind="key.name"></p>
    </div>
</div>

<div ng-class="{true:'block',false:'none'}[tap=='xd']" class="tuiguan-bank">
    <div ng-repeat="key in xdLisk" ui-sref="spreadDetails({did:key.bank_id,types:'xd'})">
        <img src="http://{{key.logo}}"/>
        <p ng-bind="key.name"></p>
    </div>
</div>

<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>