<div id="header" class="text-center">
   <a class="back" ui-sref="daili.quotedPrice({nav:'xy',page:page})">×</a>
   信用卡特定用户编辑
</div>
<div class="header-gao"></div>

<div class="teding-box">
    <div class="row" yinhang>
        <span class="laber">
            银行:
        </span>
        <span ng-bind="activeBank.bank_name" ></span>
        <span class="right-icon pull-right"></span>
    </div>
<!--     <div class="row" xinyongka>
        <span class="laber">
            信用卡:
        </span>
        <span ng-bind="activeXykBank"></span>
        <span class="right-icon pull-right"></span>
    </div> -->
    <div class="row" user>
        <span class="laber">
            用户:
        </span>
        <span ng-bind="activeUser"></span>
        <span class="right-icon pull-right"></span>
    </div>

    <div class="row" >
        <span class="laber">
            返佣类型:
        </span>
        <span>{{pricetype}}</span>
    </div>

    <div class="row" ng-hide="{{userlev < 1?false:true}}">
        <span class="laber">
            特级价格:
        </span>
        <input type="text" name=""  ng-model="lev0_p" placeholder="" ng-disabled="true" >
    </div>
    <div class="row" ng-hide="{{userlev < 2?false:true}}">
        <span class="laber">
            一级价格:
        </span>
        <input type="text" name=""  ng-model="lev1_p" placeholder="" ng-disabled="{{userlev < 1?'false':'true'}}" >
    </div>
    <div class="row" ng-hide="{{userlev < 3?false:true}}">
        <span class="laber">
            二级价格:
        </span>
        <input type="text" name=""  ng-model="lev2_p" placeholder="" ng-disabled="{{userlev < 2?'false':'true'}}" >
    </div>
    <div class="row">
        <span class="laber">
            三级价格:
        </span>
        <input type="text" name=""  ng-model="lev3_p" placeholder="" ng-disabled="{{userlev < 3?'false':'true'}}" >
    </div>
</div>
<div ng-bind="tip" class="tip-text"></div>
<div class="teding-contro">
    <a ng-click="formSubmit()">保存</a>
    <a ui-sref="daili.quotedPrice({nav:'xy',page:page})">返回</a>
</div>
<div class="cen"></div>
<div class="teding_fixed_box box-show yinhang clearfix">
    <p class="title">银行</p>
    <div>
        <input type="text" ng-model="bankKeup"/><button ng-click="bankSearch()"><i class="search"></i>搜索</button>
    </div>
    <div  class="select-box clearfix">
        <div class="nei clearfix">
            <div class="swiper-container">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" ng-repeat="key in banklist" >
                        <div class="bank-list clearfix">
                            <span ng-repeat="childe in key" class="{{activeBankId == childe.bank_id?'active':''}}" ng-click="bankSelect(childe.bank_id,$index,$parent.$index)">{{childe.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="contro-direction">
            <span class="button-prev"></span>
            <span class="button-next"></span>
        </p>
    </div>
    <div class="teding-contro">
        <span ng-click="bankSure()">确认</span>
        <span class="close-teding-box">取消</span>
    </div>
</div>

<!-- <div class="teding_fixed_box box-show xinyong clearfix">
    <p class="title">信用卡</p>
    <div>
        <input type="text" ng-model="bankXyKeup"/><button ng-click="bankXykSearch()"><i class="search"></i>搜索</button>
    </div>
    <div  class="select-box clearfix">
        <div class="nei clearfix">
            <div class="swiper-container">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" ng-repeat="key in bankXyklist" >
                        <div class="bank-list clearfix">
                            <span ng-repeat="childe in key" class="{{activeXykBankId == childe.id?'active':''}}" ng-click="bankXykSelect(childe.id,$index,$parent.$index)">{{childe.card_name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="contro-direction">
            <span class="button-prev"></span>
            <span class="button-next"></span>
        </p>
    </div>
    <div class="teding-contro">
        <span ng-click="bankXykSure()">确认</span>
        <span class="close-teding-box">取消</span>
    </div>
</div> -->

<div class="teding_fixed_box box-show yonghu">
    <p class="title">用户</p>
    <div>
        <input type="text" ng-model="userKeup"/><button ng-click="userSearch()"><i class="search"></i>搜索</button>
    </div>
    <div  class="select-box clearfix">
        <div class="nei clearfix">
            <div class="swiper-name-container">
                <div class="swiper-wrapper" >
                    <div class="swiper-slide" ng-repeat="key in userlist" >
                        <div class="bank-list clearfix">
                            <span ng-repeat="childe in key" class="{{activeUserId == childe.id?'active':''}}" ng-click="userSelect(childe.id,$index,$parent.$index)">{{childe.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="contro-direction">
            <span class="name-button-prev"></span>
            <span class="name-button-next"></span>
        </p>
    </div>
    <div class="teding-contro">
        <span ng-click="userSure()">保存</span>
        <span class="close-teding-box">取消</span>
    </div>
</div>
<div class="footer-gao"></div>
<ng-include src="'footer.html'" ></ng-include>

<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/swiper-3.4.2.min.css" />
<script type="text/javascript" src="__ASSETS__/agent/js/swiper-3.4.2.jquery.min.js"></script>