<!DOCTYPE html>
<html lang="en" ng-app="indexapp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>未莱信贷22</title>
    </head>
<script type="text/javascript">
    var deviceWidth = document.documentElement.clientWidth;
    if (deviceWidth > 750) deviceWidth = 750;
    document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
</script>
<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/common.css" />
<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/other.css" />
</head>
<body class="bg-body">

<div ui-view></div>

<script type="text/javascript" src="__ASSETS__/agent/js/jquery.js"></script>
<script type="text/javascript" src="__ASSETS__/agent/js/angular.min.js"></script>
<script type="text/javascript" src="__ASSETS__/agent/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="__ASSETS__/agent/js/common.js"></script>
</body>
</html>