<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>聚合共享</title>
    </head>
<script type="text/javascript">
    var deviceWidth = document.documentElement.clientWidth;
    if (deviceWidth > 750) deviceWidth = 750;
    document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
</script>
<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/common.css" />
<link rel="stylesheet" type="text/css" href="__ASSETS__/agent/css/other.css" />
<body>
<div id="header" class="text-center">
   <a class="back" href="login">×</a>
   代理申请
</div>
<div class="header-gao"></div>
<div>
    <img src="__ASSETS__/agent/img/Sq_banner.png" class="img-responsive">
</div>
<div class="shenqin-box">
    <form action="" name="form1" id="mesg">
        <div >
            <input style="width:70%;" type="text"  name="phone" placeholder="请输入手机号码" class="ipt1">
            <span onclick="register()" class="registerspan">马上申请</span>
        </div>
        <div class="tip text-center error paddingtop15" style="display:none;"></div>
        
    </form>
    
</div>

<div class="shenqin-why">为什么选择未莱?</div>
<div class="shenqin-why-img">
    <ul>
        <li><img src="__ASSETS__/agent/img/wsmx1.png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx2.png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx3 .png" alt=""></li>
        <li><img src="__ASSETS__/agent/img/wsmx4.png" alt=""></li>
    </ul>
</div>
<script type="text/javascript" src="__ASSETS__/agent/js/jquery.js"></script>
<script type="text/javascript">

    var api_url = "{$api_url}";
    

    function register(){
        var name = $('input[name="phone"]').val();
        if(name == ''){
            $('.tip').show().text('请输入手机号');
            return 
        }else if( !(/^1[34578]\d{9}$/.test(name)) ){
            $('.tip').show().text('手机号有误');
            return
        }else{
            $('.tip').hide().text('');
        }
        
        $.post(api_url+'agent/applyRegister',{phone:name},function(res){
        // $.post(api_url+'agent/createAgentBkl',{phone:name},function(res){
            console.log(res)
            if(res.code == 1){
                zdyAlert.init(res.msg ,function(){
                    // window.location.href="login";
                })
            }else{
                zdyAlert.init(res.msg ,function(){})
            }
        })
    }

    var zdyAlert = {
        init:function(e,callback){
            var html = '<div class="alertcen"></div>';
            html += '<div class="alertnei"><p class="title">提示</p><div class="alert-con">'+ e +'</div><div class="alert-btn">确定</div></div>';
            $('body').append(html);
            $('.alert-btn').click(function(){
                $('.alertcen,.alertnei').remove();
                callback();
            })
        }
    }
    
</script>
</body>
</html>