<!DOCTYPE html>
<html>
<head>
    <title>¾ÛºÏ¹²Ïí</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <link rel="shortcut icon" href="__ASSETS__/agent/img//favicon.ico" type="image/x-icon">
    <style>
*{padding:0px;margin:0px;}
body{width:100vh;height:100vh;overflow:hidden;background:url('bj.png');background-size:100% 100%;}
.banka{position:absolute;width:28%;top:59%;right:8%;}
.dk{position:absolute;width:28%;bottom:11%;left:10%;}
    </style>


</head>
<body>

    <img src="msbk.png" class="banka" onclick="qiehuan(this)"/>
    <img src="msdk.png" class="dk" onclick="quehuan1(this)"/>
</body>
<script type="text/javascript">
    function qiehuan(e){
        e.setAttribute('src',"msbk_1.png");
    }
    function quehuan1(e){
        e.setAttribute('src',"msdk_1.png");


    }
</script>
</html>