    <!--免年费信用卡-->
    <div class="tabCon_0">
        <!--精品推荐-->
        <div class="cont1">
            <div class="op"><img class="start" src="__ASSETS__user/images/xixi.png" alt=""><span>精品推荐&gt;&gt;</span></div>
            <div class="ka">
                <div class="k-left" ng-click="cardUrl(bank_cards_hot[0].id)">
                    <p class="blue_color">{{bank_cards_hot[0].card_name}}</p>
                    <p ng-bind="bank_cards_hot[0].card_details"></p>
                    <img ng-src="http://{{bank_cards_hot[0].card_logo}}" alt="">
                </div>
                <div class="k-right">
                    <div class="k-top" ng-click="cardUrl(bank_cards_hot[1].id)">
                        <div class="k-top1">
                            <p class="blue_color">{{bank_cards_hot[1].card_name}}</p>
                        </div>
                        <div class="k-top2">
                            <p class="font22" ng-bind="bank_cards_hot[1].card_details"></p>
                            <div class="img">
                                <img ng-src="http://{{bank_cards_hot[1].card_logo}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="k-top" style="border: none" ng-click="cardUrl(bank_cards_hot[2].id)">
                        <div class="k-top1">
                            <p class="blue_color">{{bank_cards_hot[2].card_name}}</p>
                        </div>
                        <div class="k-top2">
                            <p class="font22" ng-bind="bank_cards_hot[2].card_details"></p>
                            <div class="img">
                                <img ng-src="http://{{bank_cards_hot[2].card_logo}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--银行中心-->
        <div class="index-bank">
            <div class="op"><img class="start" src="__ASSETS__user/images/xixi.png" alt=""><span>银行中心&gt;&gt;</span></div>
            <ul>
                <li class="font22"  ng-repeat="bank in bank_list" ui-sref="bankCenter({bankid:bank.id})">
                    <span>
                    <img ng-src="http://{{bank.bank_logo}}">
                    <p ng-bind="bank.bank_name"></p>
                    </span>
                </li>
            </ul>
        </div>
        <!--热门精选-->
        <div class="hot-cont4" >
            <div class="op"><img class="start" src="__ASSETS__user/images/xixi.png" alt=""><span>热门精选&gt;&gt;</span></div>
            <div class="content"  ng-repeat="card in bank_card" ng-click="cardUrl(card.id)">
                <div class="img">
                    <img ng-src="http://{{card.card_logo}}">
                </div>
                <div class="text">
                    <p class="pp"><span>精选</span>{{card.card_details}}</p>
                    <p>关注：{{card.follow_number}}</p>
                </div>
            </div>
        </div>
    </div>
<div class="gao10 background-blue"></div>

<div class="login-cen" ng-class="{true:'block',false:'none'}[loginCen]"></div>
<!--弹出框-->
<div class="login-box box-show" ng-class="{true:'block',false:'none'}[loginBox]">
    <div class="box">
        <span class="cancel" ng-click="cancel()">&times;</span>
        <form action="" name="form1" id="mesg">
            <div class="row">
                <span>真实姓名:</span>
                <input type="text" placeholder="真实姓名" class="name" name="username">
            </div>
            <div class="row">
                <span>手机号码:</span>
                <input type="number"  name="name" placeholder="手机号码" class="ipt1" id="telphone">
            </div>
            <div class="row yz">
                <span>验证码:</span>
                <input type="number" name="yzm" placeholder="验证码" class="ipt2" id="yzm">
                <div class="gecode" ng-click="sendCodeNew()">获取验证码</div>
            </div>
            <div id="code">{{tips}}</div>
        </form>
        <div class="ljsq" ng-click="login()">登录</div>
    </div>
</div>

<!-- <div class="loding-cen" ng-class="{true:'block',false:'none'}[lodinCen]"></div>
<div class="spinner" ng-class="{true:'block',false:'none'}[spinner]">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
 -->