<div>
    <!--贷款名称-->
    <div class="loan-name" >
        <div class="name-left">
            <img ng-src="http://{{loanLogin.product_logo}}" alt="">
        </div>
        <div class="name-right">
            <p ng-bind="loanLogin.name">宜人贷</p>
            <p ng-bind="loanLogin.product_details" class="pp"></p>
        </div>
    </div>
    <div class="loan-num">
        <ul>
            <li>
                <p ng-bind="loanLogin.apply_number == null?0:loanLogin.apply_number"></p>
                <p>申请人数</p>
            </li>
            <li>
                <p ng-bind="loanLogin.play_type == null?'&nbsp':loanLogin.play_type"></p>
                <p>还款方式</p>
            </li>
            <li>

                <p ng-bind="loanLogin.loan_range == null?0:loanLogin.loan_range"></p>
                <p>申请金额</p>
            </li>
            <li>
                <p ng-bind="loanLogin.loan_term == null?0:loanLogin.loan_term"></p>
                <p>贷款期限</p>
            </li>
        </ul>
    </div>
    <div class="num-cen" ng-class="{true:'block',false:'none'}[numj]"></div>
    <div class="num-box" ng-class="{true:'block',false:'none'}[numj]">
        <div class="clearfix info">
            <span class="close-img" ng-click="closeNum()">&times;</span>
<!--             <img src="__ASSETS__user/images/close.png" class="close-img" ng-click="closeNum()"/> -->
            <div>
                <p><img src="__ASSETS__user/images/jp.png"/>贷款范围:{{loanLogin.loan_range}}</p>
                <div class="num-input">
                    <input type="number" ng-model="money" ng-keyup="moneyfun()"/>元
                </div>
            </div>
            <div>
                <p><img src="__ASSETS__user/images/time.png"/>贷款期限:{{loanLogin.loan_term}}</p>
                <div class="num-input">
                    <select class="select" ng-model="moons" ng-change="selectMoon()" >
                        <option ng-repeat="key in moon" value="{{key}}" >{{key}}</option>
                    </select>{{typeName}}
                </div>
            </div>
            <div style="width:100%;text-align:center;color:red;padding:0.1rem 0px;">{{tip}}</div>
            <div class="num-bottom">
                <div>
                    <p>{{pinjuyue}}元</p>
                    <p>{{typeName}}还款</p>
                </div>
                <div>
                    <p>{{zonglixi}}元</p>
                    <p>总利息</p>
                </div>
                <div>
                    <p>{{huankuan}}元</p>
                    <p>{{typeName}}利息</p>
                </div>                
            </div>
        </div>
    </div>
    <!--申请流程-->
    <div class="loan-flow">
        <p class="op jsq" ng-click="Calculator()">计算器</p>
    </div>
    <!--申请流程-->
    <div class="loan-flow">
        <p class="op">申请流程</p>
        <ul>
            <li ng-repeat="flow in flows">
                <img ng-src="http://{{flow.flow_img}}">
                <p ng-bind="flow.flow_name"></p>
            </li>

        </ul>
    </div>
    <!--申请条件-->
    <div class="loan-condition">
        <p class="title">申请条件</p>
        <dd>
            <p ng-repeat="condition in product_comment" ng-bind="condition"></p>
        </dd>
    </div>
    <!--所需材料-->
    <div class="loan-material">
        <p class="title">所需材料</p>
        <dd>
            <p ng-bind="loanLogin.product_datum"></p>
        </dd>
    </div>
    <div class="loan-box">
        <div class="loan-apply" ng-click="dklogin(loanLogin.id)">立即申请</div>
    </div>
    <div style="width: 100%;height: 2rem;"></div>
    <!--弹出框-->
    <!--<login></login>-->
</div>



<div class="login-cen" ng-class="{true:'block',false:'none'}[loginCen]"></div>
<!--弹出框-->
<div class="login-box box-show" ng-class="{true:'block',false:'none'}[loginBox]">
    <div class="box">
        <span class="cancel" ng-click="cancel()">&times;</span>
        <form action="" name="form1" id="mesg">
            <div class="row">
                <span>真实姓名:</span>
                <input type="text" placeholder="真实姓名" class="name" name="username">
            </div>
            <div class="row">
                <span>手机号码:</span>
                <input type="number"  name="name" placeholder="手机号码" class="ipt1" id="telphone">
            </div>
            <div class="row yz">
                <span>验证码:</span>
                <input type="number" name="yzm" placeholder="验证码" class="ipt2"  id="yzm">
                <div class="gecode" ng-click="sendCodeNew()">获取验证码</div>
            </div>
            <div id="code"></div>
        </form>
        <div class="ljsq" ng-click="login()">登录</div>
    </div>
</div>
<!-- <div class="loding-cen" ng-class="{true:'block',false:'none'}[lodinCen]"></div>
<div class="spinner" ng-class="{true:'block',false:'none'}[spinner]">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div> -->