<div class="cont2" id="dk">
    <div class="content" ng-repeat="dk in loan_log">
        <div class="left">
            <div class="cont-img">
                <img ng-src="http://{{dk.logo}}" alt="">
            </div>
            <div class="cont-p">
                <p ng-bind="dk.name"></p>
                <p>到账时间：{{dk.confirm_time}}</p>
            </div>
        </div>
        <div class="right">
            ￥{{dk.loan_price}}
        </div>
    </div>
    <p class="myloan-op" ng-bind="dg"></p>
</div>

