<style>
    .all3{
        background-color: #fff;
        height:100vh;
    }
    .all3 .header{
        border: none;
        width:100%;
        background-color: #4f7dfd;
        height:0.8rem;
        font-size:0.3rem;
        line-height:0.8rem;
        color: #ffffff;
        text-align: center;
        padding-top:1px;
    }
    .all3 .header .ox{
        width:20%;
        line-height:0.4rem;
        border-right: 1px solid #ffffff;
        font-size:0.5rem;
        margin-top:0.2rem;
        height:0.4rem;
        float: left;
    }
    .all3 .header .zx{
        width:70%;
        float: left;
    }
    .all3 .login{
        margin-top:0.5rem;
        padding:0 0.5rem;

    }
    .all3 .login ul li{
        width:50%;
        float: left;
        text-align: center;
    }
    .all3 .login ul li:nth-of-type(1){
        color: #4f7dfd;
        border-bottom: 1px solid #4f7dfd;
        padding-bottom:0.3rem;
    }

    .all3 .send{
        padding:0.5rem 0.5rem;
    }
    .all3 .sjhm{
        margin-top:1rem;
    }
    .all3 .sjhm span{
        width:25%;
        float: left;
    }
    .all3 .sjhm div{
        width:75%;
        float: left;
    }
    .all3 .sjhm input{
        width:100%;
        outline:none;
        height:0.5rem;
        font-size:0.26rem;
    }

    /*真实姓名*/

    .all3 .zsxm span{
        width:25%;
        float: left;
    }
    .all3 .zsxm div{
        width:75%;
        float: left;
    }
    .all3 .zsxm input{
        width:100%;
        outline:none;
        height:0.5rem;
        font-size:0.26rem;
    }
    .all3 .zsxm .mp{
        font-size:0.14rem;
    }

/*验证码*/

    .all3 .yzm1{
        margin-top:2rem;
    }
    .all3 .yzm1 inout{
        font-size:0.26rem;
    }
    .all3 .yzm1 span{
        width:25%;
        float: left;
    }

    .all3 .yzm1 div{
        width:75%;
        float: left;

    }
    .all3 .yzm1 #yzmcode{
        width:45%;
        outline:none;
        height:0.5rem;
        float: right;
        background-color: #4f7dfd;
        border-radius: 0.05rem;
        border: none;
        color: #FFFFFF;
    }
    .all3 .yzm1 #yzm{
        width:45%;
        outline:none;
        height:0.5rem;
        float: left;
    }
    /*登录*/
    .all3 .qr{
        width:85%;
        margin:1.5rem auto;
        background-color: #4f7dfd;
        height:0.5rem;
        line-height:0.5rem;
        color: #FFFFFF;
        text-align: center;
        border-radius: 0.05rem;

    }
    .all3 .yzm1 .mpp{
        font-size:0.16rem;
        float: left;
        margin-top:0.2rem;
    }
    #yzm{
        font-size:0.26rem;
    }
    input[type=button], input[type=submit], input[type=file], button {
        cursor: pointer; -webkit-appearance: none;
    }

</style>

<div class="all3" >
    <div class="header">
        <div class="ox">&times;</div>
        <div class="zx">
            <p>注册账号</p>
        </div>
    </div>

    <div class="send">
        <div class="zsxm">
            <span>真实姓名</span>
            <div>
                <input type="text"  name="username" placeholder=""  id="name">
                <p class="mp">申请业务需核实真实姓名，请务必认真填写</p>
            </div>

        </div>
        <div class="sjhm">
            <span>手机号码</span>
            <div>
                <input type="number"  name="name" placeholder=""  id="telphone">
            </div>

        </div>
        <div class="yzm1">
            <span>验证码</span>
            <div>
                <input type="number" name="yzm" placeholder=""  id="yzm">
                <input type="button" name="iphone" value="获取验证码" ng-click="sendCode1('all3')" id="yzmcode" >
                <p class="mpp"></p>
            </div>

        </div>

    </div>
    <div class="qr" ng-click="zc()">确认</div>


</div>
<script>
    $('.ox').on("click",function () {
        window.location.href="index#!/card/free";
    })
</script>
