<div style="display: block" class="cont1" id="ul1">
    <ul>
        <li ng-repeat="money in daoz">
            <a href="" ui-sref="loanLogin({loanid:money.id})">
                <div class="left">
                    <img ng-src="http://{{money.logo}}" alt="">
                </div>
                <div class="right">
                    <p ng-bind="money.name"></p>
                    <p ng-bind="money.comment"></p>
                </div>
            </a>

        </li>
    </ul>
    <div class="gao10 background-blue"></div>
</div>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>