*,
::before,
::after{
    padding: 0;
    margin: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    /*清除移动端tap产生的高亮状态*/
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: 'Microsoft YaHei Mono', 'sans-serif';
    background-color: #f4f8ff;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000000;
}

/*textarea, input{*/
    /*border:none;*/
    /*outline: none;*/

    /*!*ios系统去除非扁平化效果*!*/
    /*-webkit-appearance: none;*/
/*}*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}


