<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="appController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Expires" CONTENT="0">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <title>聚合共享</title>
    <!-- <link rel="stylesheet" type="text/css" href="__ASSETS__user/loading-bar.min.css"/> -->
    <link rel="stylesheet" type="text/css" href="__ASSETS__user/css/common.css"/>
</head>
<script type="text/javascript">
    var deviceWidth = document.documentElement.clientWidth;
    if (deviceWidth > 750) deviceWidth = 750;
    document.documentElement.style.fontSize = deviceWidth / 7.5 + 'px';
    var api_url = "{$api_url}"
    var web_url = "{$web_url}"
</script>
<body class="background-blue">

<div class="foot">
    <ul>
        <li ng-click="tabbarClick('card')" ng-class="{true:'active'}[type=='card']">
            <a  ui-sref="card.free" class="active">
                <img ng-src="__ASSETS__user/images/{{type == 'card'?'A_xyk_icon2.png':'A_xyk_icon.png'}}" alt=""  class="img1">
                <p>信用卡</p>
            </a>
        </li>
        <li  ng-click="tabbarClick('loan')" ng-class="{true:'active'}[type=='loan']">
            <a ui-sref="loan.speed">
                <img ng-src="__ASSETS__user/images/{{type == 'loan'?'B_dk_icon2.png':'B_dk_icon.png'}}" alt="" class="img1">
                <p>贷款</p>
            </a>

        </li>
        <li  ng-click="tabbarClick('my')"  ng-class="{true:'active'}[type=='my']">
            <a ui-sref="my">
                <img ng-src="__ASSETS__user/images/{{type == 'my'?'C_wd_icon2.png':'C_wd_icon.png'}}" alt="" class="img1">
                <p>我的</p>
            </a>
        </li>
    </ul>
</div>
<div ui-view></div>
</body>
<script src="__ASSETS__user/js/jquery.js?t={$tl}"></script>
<script src="__ASSETS__user/js/angular.min.js?t={$tl}"></script>
<script src="__ASSETS__user/js/angular-ui-router.min.js?t={$tl}"></script>
<script src="__ASSETS__user/js/loading-bar.min.js"></script>
<script src="__ASSETS__user/js/angular-touch.min.js"></script>
<script src="__ASSETS__user/js/controller.js?t={$tx}"></script>
<!-- <script src="__ASSETS__user/js/config.js?t={$tl}"></script> -->
</html>