.shenqin-why{margin-top:0.4rem;width:100%;font-size:0.35rem;background-color:#4f7dfd;text-align:center;color:#ffffff;line-height:0.7rem;font-weight:bold;}
.shenqin-why-img ul li{width:100%;margin-bottom:0.1rem;font-size:0px;}
.shenqin-why-img ul li img{width:100%;}

.header-logo{text-align:center;margin-bottom:1.55rem;margin-top:1rem;}
.header-logo img{width:3.63rem;}
.login-box div input{height:0.83rem;line-height:0.83rem;border-radius:0.46rem;border:none;width:100%;font-size:0.3rem;text-align:center;}
.login-box div{margin:0px auto;width:5.5rem;margin-bottom:0.4rem;}

.login-box .login{margin-top:2.75rem;}
.login-box .login input{color:#fdd400;border:1px solid #fdd400;background:transparent;margin-bottom:0.3rem;}
.login-box .op{color:#fdd400;text-align:center;}

.shenqin-box #mesg .row{margin:0px auto;width:5.5rem;margin-bottom:0.4rem;overflow:hidden;}
.shenqin-box #mesg .row input{border-radius:0.46rem;height:0.83rem;line-height:0.83rem;text-align:center;width:100%;}
.shenqin-box #mesg .row.two-input input:first-child{margin-right:0.5%;border-radius:0.46rem 0px 0px 0.46rem;}
.shenqin-box #mesg .row.two-input input{width:49.75%;border-radius:0px 0.46rem 0.46rem 0px;float:left;}


.shenqin-box .registerspan,.shenqin-box .register{color:#fdd400;border:1px solid #fdd400;left:50%;margin:0px auto;width:5.5rem;height:0.83rem;line-height:0.83rem;text-align:center;border-radius:0.46rem;}
.shenqin-box .register{margin-top:1.5rem;}
.shenqin-box .registerspan{margin-top:1.5rem;}

.shenqin-box #mesg .yzm-input input:first-child{width:50%;border-radius:0.46rem 0px 0px 0.46rem;height:0.83rem;line-height:0.83rem;text-align:center;}
.shenqin-box #mesg .yzm-input input:last-child{background:#1b4ba3;text-align:center;color:#fff;display:inline-block;height:0.83rem;line-height:0.83rem;width:50%;border-radius:0px 0.46rem 0.46rem 0px;}
@media screen and (min-width:768px) {
   .header-logo img{width:2.63rem;}
   .login-box div input{height:0.63rem;line-height:0.63rem;}
}
/*个人信息*/
.header{width:100%;background:url("../img/bg_sy.png") center;-webkit-background-size:100% 100%;background-size:100% 100%;}
.header .top .left{width:80%;height:100%;float:left;}
.header .top .left .header-img{width:1.4rem;/*height:1.4rem;overflow:hidden;*/border-radius:50%;float:left;margin-left:0.8rem;margin-top:0.5rem;}
.header .top .left .header-img img{width:100%;border-radius:50%;}
.header .top .left .header-p{float:left;margin-top:0.7rem;margin-left:0.27rem;color:#ffffff;font-size:0.3rem;}
.header .top .left .header-p p{color:#fff;}
.header .top .left .header-p p:nth-of-type(2){margin-top:0.1rem;width:1.4rem;height:0.36rem;line-height:0.36rem;background-color:#fff;color:#4f7dfd;border-radius:20px;text-align:center;}
.header .top .right{float:left;}
.header .top .right img{margin-top:0.9rem;width:0.6rem;height:0.6rem;}
.header .buttom ul li{width:25%;float:left;text-align:center;margin-top:0.6rem;line-height:25px;color:#ffffff;font-size:0.26rem;}
.header .buttom ul li p{color:#fff;margin-bottom:0.24rem;}
.header .buttom ul li p:nth-of-type(1){font-size:0.3rem;}
.index-nav{width:100%;background-color:#fff;margin-bottom:10px;}
.index-nav .op{font-size:0.28rem;width:100%;height:0.76rem;border-bottom:1px solid #e4e4e4;line-height:0.76rem;}
.index-nav .op span{display:inline-block;width:0.3rem;margin-left:0.15rem;margin-right:0.1rem;margin-top:0.05rem;position:relative;top:3px;}
.index-nav .op span img{width:100%;}
.index-nav .oul{width:100%;}
.index-nav .oul{overflow:hidden;}
.index-nav .oul ul li{font-size:0.28rem;float:left;width:33.33333%;text-align:center;}
.index-nav .oul ul li img{margin-top:0.2rem;width:50%;}
.index-nav .oul ul li p{margin-bottom:0.2rem;}
.index-nav .oul ul li a{display:block;width:100%;height:100%;}

/*二维码*/
.fenxian .erwm{font-size:0.3rem;text-align:center;width:100%;background-color:#fff;margin-bottom:10px;padding-top:1px;padding-bottom:10px;}
.fenxian .erwm .op{margin-top:0.4rem;}
.fenxian .erwm .op span{display:inline-block;height:1px;width:30px;position:relative;top:-5px;background-color:#666;}
.fenxian .erwm img{margin-top:0.2rem;width:2.3rem;margin:0.2rem auto;}
.fenxian .erwm .op2{height:0.7rem;width:3.06rem;color:#ffffff;background-color:#4f7dfd;line-height:0.7rem;border-radius:5px;margin:0.2rem auto;}

/*提现*/
.tixian-header{background:#4f7efd;padding-bottom:0.3rem;padding-top:0.2rem;}
.tixian-header h4{font-size:0.4rem;margin-top:0.6rem;color:#fff;}
.tixian-header p{color:#fff;}
.tixian-box .op{width:100%;height:0.76rem;border-bottom:1px solid #e4e4e4;line-height:0.76rem;font-weight:bold;font-size:0.3rem;padding:0px 7.6%;}
.tixian-box .op span{display:inline-block;width:0.3rem;margin-right:0.1rem;margin-top:0.05rem;position:relative;top:0.03rem;}
.tixian-box .op span img{width:100%;height:100%;}
.tixian-box .back-op{width:100%;height:0.5rem;line-height:0.7rem;padding:0px 7.6%;}
.tixian-box .back-op .gs{font-size:0.28rem;display:inline;}
.tixian-box .back-op span{display:inline-block;width:0.3rem;margin-right:0.1rem;position:relative;top:0.03rem;}
.tixian-box .back-op span img{width:100%;height:100%;}
.tixian-box form{width:84.8%;padding-top:1px;text-align:center;margin:0px auto;}

.tixian-box form input{border:1px solid #ccc;font-size:0.28rem;display:block;background:#fff; -webkit-appearance: none;}

.tixian-box form div input:nth-of-type(1){padding-left:0.15rem;width:100%;height:0.8rem;}
.tixian-box form div input:nth-of-type(2){padding-left:0.15rem;width:62%;height:0.8rem;float:left;margin-right:8%;}
.tixian-box form div input:nth-of-type(3){width:30%;height:0.8rem;border-radius:3px;border-color:#537cfa;background:#e5ecfe;color:#537cfa;}
.tixian-box form p{font-weight:bold;margin-top:0.3rem;margin-bottom:0.1rem;text-align:left;font-size:0.3rem;}
.tixian-box form .yz{font-size:0.24rem;font-weight:normal;}
.tixian-box .btn{width:87%;height:0.8rem;background-color:#4f7dfd;color:#ffffff;line-height:0.8rem;text-align:center;margin:0.4rem auto;border-radius:3px;}
.baobiao-header{height:0.9rem;padding-left:0.35rem;padding-right:0.5rem;line-height:0.9rem;background:#fff;}
.baobiao-header .date{width:0.3rem;height:0.3rem;position:relative;top:0.04rem;margin-right:0.1rem;}
.baobiao-header .jt{width:0.25rem;margin-left:0.16rem;transition:all 0.5s;-webkit-transition:all 0.5s;}
.baobiao-header .jt.jtdh{transform: rotate(180deg);-webkit-transform:rotate(180deg);}

.baobiao-parent{background:#fff;overflow-x: auto;overflow-y: hidden;position:relative;}
.baobiao-parent .jiantou{position:fixed;top:2.2rem;width:0.3rem;}
.baobiao-parent .jiantou.left{left:0.1rem;}
.baobiao-parent .jiantou.right{right:0.1rem;}
.baobiao-title{margin-top:0.16rem;width:190%;height:0.9rem;background-color:#fff;}
.baobiao-list{width:190%;background:#fff;}
.baobiao-title ul li{width:14%;float:left;text-align:center;line-height:0.9rem;color:#4f7dfd;font-size:0.3rem;}
.baobiao-list >ul li{border-top:1px solid #efefef;width:100%;height:0.88rem;background-color:#fff;}
.baobiao-list >ul li .oul2 li{width:14%;float:left;text-align:center;line-height:0.88rem;font-size:0.26rem;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
.shoukuan-box form{text-align:center;width:100%;padding-top:1px;}
.shoukuan-box form div input{width:70%;height:0.8rem;border:none;float:left;line-height:0.8rem;font-size:0.3rem;}
.shoukuan-box form div{overflow:hidden;margin-bottom:0.05rem;}
.shoukuan-box form span{text-align:center;line-height:0.8rem;float:left;height:0.8rem;display:inline-block;background-color:#fff;width:30%;font-size:0.3rem;}
.shoukuan-box form .op{margin-top:0.3rem;font-size:0.26rem;}
.shoukuan-box form .btn{margin:0.26rem auto;width:6.38rem;height:0.8rem;background-color:#4f7dfd;line-height:0.8rem;color:#ffffff;border-radius:5px;font-size:0.3rem;}
.header-three-nav.four-nav a{width:25%;}
.myuser-user .sous{width:100%;height:0.9rem;margin-top:0.16rem;background-color:#fff;}
.myuser-user .sous input{margin-left:5%;margin-top:0.15rem;width:75%;height:0.6rem;border:1px solid #4f7dfd;border-radius:5px;font-size:0.28rem;background:url("../img/sous.png") no-repeat 0.2rem;background-size:0.4rem;padding-left:0.8rem;}
.myuser-user .sous .sear-btn{display:inline-block;color:#fff;background:#4f7efd;padding:0.12rem 0px;width:13%;margin-left:4%;text-align:center;border-radius:0.1rem;}
.my-user-list-box{background:#fff;margin-top:0.1rem;}
.my-user-list-box li{border-bottom:1px solid #f1f5fb;padding-left:0.45rem;overflow:hidden;padding-top:0.2rem;padding-bottom:0.2rem;}
.my-user-list-box li .user-img{width:1rem;height:1rem;float:left;margin-right:0.24rem;border-radius:50%;}
.my-user-list-box li .center-info{float:left;width:40%;}
.my-user-list-box li .center-info p{white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
.my-user-list-box li .right-info{float:left;width:37%;margin-left:5%;}
.my-user-list-box li .right-info p{white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
.my-user-time-select{background:#fff;height:0.9rem;line-height:0.9rem;padding-left:1.17rem;padding-right:0.5rem;margin-top:0.1rem;}
.my-user-time-select img{float:right;width:0.25rem;margin-top:0.4rem;}
.bg-date{background-image:url('../img/riqi.png');background-repeat:no-repeat;background-size:0.3rem;background-position:0.7rem 0.3rem;}
.header-three-nav{height: 0.9rem;background: #fff;font-size: 0.3rem;text-align: center;position: fixed;width: 100%;top: 0.88rem;left: 0px;z-index:100;}
.header-three-nav a{display:block;float:left;width:33.33333%;height:0.9rem;line-height:0.9rem;font-size:0.3rem;}
.header-three-nav a.active{color:#4f7efd;position:relative;}
.header-three-nav a.active::after{content:'';position:absolute;width:0.41rem;height:0.06rem;background:#4f7efd;bottom:0px;left:50%;margin-left:-0.205rem;}
.daili-two-nav{background:#fff;margin-top:0.18rem;border-bottom:1px solid #dcdcdc;}
.daili-two-nav div{float:left;width:50%;height:0.88rem;line-height:0.88rem;}
.daili-two-nav div:first-child{border-right:1px solid #dcdcdc;}
.daili-two-nav div.active{border-bottom:2px solid #4d80ff;}
.daili-two-nav div img{width:0.5rem;height:0.5rem;margin:0px 0.25rem 0px 0.44rem;position:relative;top:0.15rem;}
.baojia-box{display:none;}
.baojia-box .row{height:0.9rem;background:#fff;margin-bottom:0.08rem;line-height:0.9rem;padding-right:0.37rem;}
.baojia-box .row .more{width:0.18rem;height:0.1rem;position:relative;float:right;top:0.4rem;transition:all 0.5s;-moz-transition:all 0.5s; /* Firefox 4 */-webkit-transition:all 0.5s; /* Safari 和 Chrome */-o-transition:all 0.5s; /* Opera */}
.baojia-box .row .more.dh{transform:rotate(180deg);-ms-transform:rotate(180deg);     /* IE 9 */-moz-transform:rotate(180deg);    /* Firefox */-webkit-transform:rotate(180deg); /* Safari 和 Chrome */-o-transform:rotate(180deg);  /* Opera */}
.baojia-box .row .left-icon{width:0.3rem;height:0.3rem;margin-left:0.54rem;margin-right:0.18rem;position:relative;top:0.06rem;}
.baojia-box .row .btn{margin-top:0.15rem;}
.baojia-box .btn{background:#4f7efd;width:1.5rem;height:0.6rem;color:#fff;text-align:center;line-height:0.6rem;border-radius:3px;}
.canpin-list-box{margin-bottom:0.2rem;display:none;}
.canpin-list-box .theader{background:#e6edff;border-bottom:2px solid #dcdcdc;height:0.9rem;line-height:0.9rem;}
.canpin-list-box .theader th{font-weight:normal!important;}
.canpin-list-box  td{text-align:center;height:0.9rem;background:#fff;border-bottom:2px solid #eff5ff;color:#000;}
.width50{width:50% !important;}
.baojia-box .canpin-list{background:#fff;margin-bottom:0.13rem;}
.baojia-box .canpin-list p,.baojia-box .canpin-list td{line-height:0.45rem;}
.baojia-box .canpin-list table{width:100%;table-layout: fixed;}
.baojia-box .canpin-list td{width:33.33333%;white-space:nowrap; text-overflow:ellipsis;overflow:hidden;}
.baojia-box .canpin-list .time{color:#a7a9b1;font-size:0.2rem;}
.baojia-box .canpin-list .contro-btn{height:0.7rem;border-top:1px solid #d1d1d1;margin-top:0.3rem;}
.canpin-list .contro-btn span{display:block;width:50%;float:left;height:0.7rem;line-height:0.7rem;text-align:center;font-size:0.26rem;color:#4f7dfd;}
.canpin-list .contro-btn span i{display:inline-block;width:0.35rem;height:0.3rem;background-image:url('../img/contro-btn.png');background-repeat:no-repeat;background-position:-0.4rem 0px;background-size:0.7rem 0.3rem;margin-right:0.15rem;position:relative;top:0.06rem;}
.canpin-list .contro-btn span:first-child{border-right:1px solid #d1d1d1;}
.canpin-list .contro-btn span:first-child i{background-position:0rem 0px;}
.bianji-box{position:fixed;z-index:1000;top:18%;left:50%;background:#fff;padding:0.34rem 0.35rem 0.3rem 0.35rem;width:5.3rem;margin-left:-2.65rem;display:none;}
.bianji-box .title,.teding_fixed_box .title{text-align:center;color:#4f7dfd;font-size:0.3rem;margin-bottom:0.25rem;}
.bianji-box .info{margin-bottom:0.1rem;}
.bianji-box .input-row{height:0.6rem;line-height:0.6rem;margin-bottom:0.1rem;}
.bianji-box .input-row input{height:0.6rem;width:3.1rem;border:1px solid #4f7dfd;border-radius:5px;margin-left:0.22rem;padding-left:0.2rem;}
.bianji-box .btn-box{margin-top:0.3rem;}
.bianji-box .btn{background:#507dfe;width:1.7rem;height:0.6rem;color:#fff;border-radius:3px;}
.bianji-box .btn:first-child{margin-right:1.1rem;}
.cen{position:fixed;top:0.88rem;left:0px;width:100%;height:11.38rem;z-index:999;display:none;}
.teding_fixed_box{position:fixed;z-index:1000;top:30%;left:50%;background:#fff;padding:0.34rem 0.56rem 0.4rem 0.52rem;width:6.27rem;margin-left:-3.135rem;display:none;}
.teding_fixed_box div input{width:3.6rem;height:0.58rem;border:1px solid #4f7dfd;border-radius:5px;margin-right:0.26rem;padding-left:0.28rem;}
.teding_fixed_box div button{width:1.32rem;height:0.6rem;background:#4f7dfd;color:#fff;border-radius:5px;}
.teding_fixed_box .search{background:url('../img/search.png')no-repeat;display:inline-block;width:0.3rem;height:0.3rem;background-size:0.3rem 0.3rem;position:relative;top:0.05rem;left:-0.05rem;}
.teding_fixed_box .teding-contro{width:5.2rem;}
.teding_fixed_box .teding-contro span{height:0.6rem;line-height:0.6rem;margin:0px;}
.teding_fixed_box .teding-contro span:first-child{margin-left:0.38rem;margin-right:1.1rem;}
.teding_fixed_box .teding-contro{margin-top:0.3rem;}
.select-box{margin-top:0.3rem;}
/*.select-box .nei{position:relative;}*/
.select-box .bank-list{width:5.2rem;float:left;margin-right:0.25rem;}
.contro-direction{text-align:center;}
.select-box .bank-list span{display:inline-block;float:left;width:33.33333%;margin-bottom:0.26rem;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;}
/*.select-box .bank-list span:nth-child(3n+2){text-align:center;}*/
/*.select-box .bank-list span:nth-child(3n+3){text-align:right;}*/
.contro-direction span{width:0.2rem;height:0.2rem;display:inline-block;position:relative;background:url('../img/right.png')no-repeat;background-size:0.12rem 0.2rem;margin:0px 0.15rem;}
.contro-direction span:first-child{background:url('../img/left.png')no-repeat;background-size:0.12rem 0.2rem;}
.teding-box .row{height:0.9rem;padding-left:0.4rem;line-height:0.9rem;padding-right:0.5rem;margin-bottom:2px;background:#fff;}
.teding-box .row .laber{display:inline-block;width:1.4rem;}
.teding-box .row .right-icon{font-size:0.3rem;width:0.3rem;height:100%;background:url('../img/right.png')no-repeat;background-position:center center;background-size:0.1rem 0.18rem;}
.teding-contro{width:5.7rem;margin:0px auto;margin-top:15%;}
.teding-contro a,.teding-contro span{width:1.7rem;height:0.7rem;background:#4f7dfd;line-height:0.7rem;text-align:center;color:#fff;border-radius:4px;display:inline-block;margin:0px 0.55rem;}
/*模板资料*/
.tabCon .cont1{margin-top:10px;}
.tabCon .cont1 .content{width:100%;/*height:3.96rem;*/background-color:#fff;margin-bottom:0.2rem;}
.tabCon .cont1 .content .cont-top{width:100%;/*height:2.7rem;*/padding-right:0.3rem;border-bottom:1px solid #cccccc;}
.tabCon .cont1 .content .cont-top.no-border{border-bottom:none;}

.tabCon .cont1 .content .cont-top .top{width:100%;height:1.58rem;padding-top:1px;}
.tabCon .cont1 .content .cont-top .top .toux{width:1.62rem;    /*height:60%;*/padding-top:1px;float:left;}
.tabCon .cont1 .content .cont-top .top .toux .img{text-align:center;width:0.8rem;height:0.8rem;background-color:khaki;border-radius:50%;margin-left:0.55rem;margin-top:0.28rem;}
.tabCon .cont1 .content .cont-top .top .toux .img img{width:100%;height:100%;}
.tabCon .cont1 .content .cont-top .top .zliao{width:50%;height:60%;float:left;margin-top:0.33rem;font-size:.28rem;}
.tabCon .cont1 .content .cont-top .top .zliao p:nth-of-type(1){font-weight:bold;}
.tabCon .cont1 .content .cont-top .top .zliao p:nth-of-type(2){color:#616161;margin-top:0.05rem;}
.tabCon .cont1 .content .cont-top .top .dail{margin-top:0.3rem;float:right;}
.tabCon .cont1 .content .cont-top .top .dail p{width:1.3rem;height:0.46rem;line-height:0.46rem;border-radius:20px;text-align:center;background-color:#ff7355;color:#ffffff;font-size:0.26rem;}
.tabCon .cont1 .content .cont-top .bottom{width:100%;overflow:hidden;padding-bottom:0.4rem;}
.tabCon .cont1 .content .cont-top .bottom .op p{width:2.58rem;float:right;display:inline-block;}
.tabCon .cont1 .content .cont-top .bottom .op p{border:1px solid #4f7dfd;background-color:#e5eeff;border-radius:5px;text-align:center;line-height:0.68rem;height:0.68rem;color:#4f7dfd;font-size:0.28rem;}
.tabCon .cont1 .content .cont-top .bottom .op p:last-child{margin-right:0.25rem;}
.tabCon .cont1 .content .cont-bottom{width:100%;height:1.3rem;}
.tabCon .cont1 .content .cont-bottom ul{display:flex;display:-webkit-flex;justify-content:space-around;}
.tabCon .cont1 .content .cont-bottom ul li{width:2.7rem;height:0.6rem;float:left;text-align:center;line-height:0.6rem;border-radius:5px;color:#ffffff;background-color:#4f7dfd;margin-top:0.32rem;}
.tabCon .cont1 .content .cont-bottom ul li p{color:#fff;}
.cont2 .formtype1 .row{height:0.9rem;margin-bottom:1px;line-height:0.9rem;background:#fff;display:flex;display:-webkit-flex;}
.cont2 .formtype1 .row .laber{display:inline-block;width:1.5rem;text-align:right;margin-right:0.5rem;}
.cont2 .formtype1 .row input[type="text"],.cont2 .formtype1 .row input[type="password"]{flex:1;-webkit-box-flex:1;-webkit-flex:1;-moz-box-flex:1;}
.radio-input input{display:none;}
.radio-input label{margin-right:0.88rem;position:relative;}
.radio-input label::before{content:'';width:0.3rem;height:0.3rem;border:1px solid #000;border-radius:50%;display:inline-block;margin-right:0.12rem;position:relative;top:0.08rem;}
.radio-input input:checked + label::after{content:'';width:0.18rem;height:0.18rem;border-radius:50%;position:absolute;top:0.36rem;left:0.08rem;background:#4f7efd;}
.cont2 .formtype1 .contro .btn{width:1.7rem;height:0.6rem;line-height:0.6rem;color:#fff;background:#4f7efd;font-size:0.3rem;display:inline-block;border-radius:5px;margin-top:0.85rem;}
.cont2 .formtype1 .contro .btn:first-child{margin-right:0.3rem;}
.cont2 input:focus{outline:none;border:none;}
/*填写资料*/
.my-row li{width:100%;height:0.9rem;line-height:0.9rem;background-color:#fff;padding-left:0.2rem;border-bottom:1px solid #f1f5fb;font-size:0.28rem;}
.my-row li span{display:inline-block;}
.my-row li input{width:75%;font-size:0.3rem;}
.my-row li span img{width:0.34rem;margin-right:0.2rem;position:relative;top:0.06rem;}
.my-row li p{display:inline;}
.my-row li .op{font-weight:bold;}
.my-row .times{width:100%;height:1.5rem;font-size:0.28rem;line-height:0.6rem;padding-left:0.3rem;background-color:#fff;padding-top:0.2rem;}
.select-box .bank-list span.active{background:#4f7dfd;color:#fff;}
.dateBox{overflow:hidden;background:#fff;margin-top:0.1rem;display:none;}
.dateBox .date-row div{width:50%;float:left;text-align:center;height:0.9rem;line-height:0.9rem;border-bottom:1px solid #eee;}
.dateBox .date-row div:first-child{border-right:1px solid #eee;}
.dateBox .search-btn{background:#4f7dfd;text-align:center;color:#fff;height:0.9rem;line-height:0.9rem;margin:0.2rem auto;}

#page{background:#fff;margin-top:0.2rem;padding:0.3rem 0px;text-align:center;}
#page .prev{color:#fff;background:#507dfe;width:1.57rem;height:0.5rem;border-radius:3px;display:inline-block;line-height:0.5rem;text-align:center;margin:0px 0.12rem;}
#page .next{color:#fff;background:#507dfe;width:1.57rem;height:0.5rem;border-radius:3px;display:inline-block;line-height:0.5rem;text-align:center;margin:0px 0.12rem;}
#page .page-con span.dis{background:#8dacfe;}
#page .page-con span.text{margin:0px 0.1rem;display:inline-block;height:0.5rem;line-height:0.5rem;}
#page select{border:1px solid #4f7efd;margin-left:0.1rem;height:0.5rem;line-height:0.5rem;}
.page-con{line-height:0.5rem;}
#page .page-ma{text-align:center;margin-bottom:0.25rem;}
#page .con-box{margin-left:0.3rem;}
#page .page-ma span{margin:0px 0.1rem;}
#page .page-ma span.active{color:#4f7efd;}
.tip-text{color:red;text-align:center;margin-top:0.2rem;}
.personal-sub{color:#fff;background:#4f7efd;width:80%;margin:0.3rem auto;text-align:center;height:0.65rem;line-height:0.65rem;border-radius:3px;}
.sharebtn{width:5rem;margin:0.5rem auto;height:0.7rem;line-height:0.7rem;color:#fff;background:#4f7efd;border-radius:5px;display:block;text-align:center;}
.personalthree-row .row{height:0.9rem;line-height:0.9rem;background:#fff;font-size:0.28rem;margin-top:0.1rem;}
.personalthree-row .row img{width:0.45rem;height:0.45rem;margin-left:0.5rem;margin-right:0.2rem;position:relative;top:0.1rem;}
.picture-label{color:#fff;margin-top:0.2rem;display:inline-block;}
#picture{display:none;}
/*自定义报价单的table*/
.table-header{display:table;width:100%;height:0.9rem;line-height:0.9rem;background:#e6edff;border-bottom: 2px solid #dcdcdc;}
.table-header span{display:table-cell;text-align:center;}
.xd-table{display:table;width:100%;border-bottom:2px solid #eff5ff;background:#fff;}
.xd-table .right-info{height:0.7rem;line-height:0.7rem;}
.xd-table div{display:table;width:100%;}
.xd-table span{display:table-cell;text-align:center;}
.zdy-table .span15{width:15%;overflow:hidden;}
.zdy-table .span10{width:10%;}
.zdy-table .span19{width:19%;}
.zdy-table .span20{width:20%;}
.zdy-table .span21{width:21%;}
.zdy-table .span16{width:16%;}
.zdy-table .span23{width:23%;}
.zdy-table .span30{width:30%;}
.zdy-table .span33{width:33%;}
.zdy-table .span28{width:28%;}
.zdy-table .span18{width:18%;}
.zdy-table .span12{width:12%;}
.xd-table .span13{width:13%;}
.new-table-dk{padding-left:0.37rem;padding-right:0.45rem;}
.two-three .row input{float:left;width:50%;height:0.9rem;line-height:0.9rem;}
.two-three .row .laber{float:left;}
.two-three .row{padding-right:0.1rem;}
.dk-nav span{height:0.7rem;line-height:0.7rem;background:#fff;text-align:center;float:left;width:50%;margin-bottom:2px;display:none;}
.dk-nav .block{display:block;}
.two-three.block{display:block;}
.two-three{display:none;}
.width100{width:100% !important;}
/*规则弹出层*/
.guice-cen{position:fixed;width:100%;height:100%;z-index:1001;background:#000;opacity:0.4;top:0px;left:0px;display:none;}
.guice-box{position:fixed;z-index:1002;top:30%;left:50%;background:#fff;padding:0.34rem 0.35rem 0.3rem 0.35rem;width:5.3rem;margin-left:-2.65rem;display:none;}
.guice-box .title{text-align:center;color:#4f7efd;margin-bottom:10px;}
.guice-box .queren{display:block;color:#fff;background:#4f7efd;text-align:center;padding:0.1rem 0px;margin-top:0.1rem;}
.guice-box textarea{resize: none;height:4rem;width:100%;}
.guice-cen.block,.guice-box.block{display:block;}
.guice-cen.none,.guice-box.none{display:none;}

.my-agent .sous{width:100%;height:0.9rem;margin-top:0.16rem;background-color:#fff;}
.my-agent .sous input{margin-left:5%;margin-top:0.15rem;width:75%;height:0.6rem;border:1px solid #4f7dfd;border-radius:5px;font-size:0.28rem;background:url("../img/sous.png") no-repeat 0.2rem;background-size:0.4rem;padding-left:0.8rem;}
.my-agent .sous .sear-btn{display:inline-block;color:#fff;background:#4f7efd;padding:0.12rem 0px;width:13%;margin-left:4%;text-align:center;border-radius:0.1rem;}
.my-agent-box{width:90%;margin:0px auto;}
.my-agent-box .agent-list{float:left;width:30%;margin-top:0.35rem;border-radius:0.1rem;overflow:hidden;background:#fff;}
.my-agent-box .agent-list .bg-f{background:#f5f5f5;height:0.73rem;}
.my-agent-box .agent-list:nth-child(3n+2){margin-left:5%;margin-right:5%;}
.my-agent-box .agent-list .info{position:relative;padding-top:0.75rem;padding-bottom:0.27rem;}
.my-agent-box .agent-list .info .tuoxian{width:1.08rem;border-radius:50%;border:2px solid #fff;position:absolute;top:-0.5rem;left:50%;margin-left:-0.54rem;}
.my-agent-box .agent-list .lev{border-top:1px solid #e5e5e5;height:0.56rem;line-height:0.56rem;position:relative;}
.true-jt img{position:absolute;width:0.32rem;left:50%;margin-left:-0.16rem;top:-0.09rem;z-index:100;}
.true-jt::after{content:'';width:0.16rem;height:0.03rem;background:#fff;top:-0.03rem;position:absolute;left:50%;margin-left:-0.08rem;}